<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
    
	<link rel="stylesheet" type="text/css" href="log_style.css">
</head>
<body>
    <h1 id="cabecera">US DESIGNER</h1>
	<div class="container">
        
		<h1>Iniciar Sesión</h1>

		<form>
			<label for="email">E-mail:</label>
			<input type="email" id="email" name="email" required>

			<label for="password">Contraseña:</label>
			<input type="password" id="password" name="password" required>

			<button type="submit" class="btn">Ingresar</button>
            <button type="submit" id="b_crear">Crear Cuenta</button>
		</form>
	</div>
    <footer>
        <p class="pie">-Copyright 2023-</p>
    </footer>
</body>
</html>