<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Formulario de Registro</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/log_style.css' %}">
</head>
<body>
	<div class="container">
	<h2>Registro de Usuarios</h2>
	<form action="registrar" method="post">
		{% csrf_token %}
		<label for="nombre">Nombre:</label>
		<input type="text" id="nombre" name="nombre" required><br><br>

		<label for="apellido">Apellido:</label>
		<input type="text" id="apellido" name="apellido" required><br><br>

		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required><br><br>

		<label for="password">Contraseña:</label>
		<input type="password" id="password" name="password" required><br><br>

		<button type="submit" class="btn">Registrar</button>
        <a href="login" id="cancelar_re" class="btn btn-info" >Cancelar</a>
	</form>
	</div>
	<footer>
        <p class="pie">-Copyright 2023-</p>
    </footer>
</body>
</html>