<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="ini.css">
</head>
<body>
    <h1 id="cabe">US DESIGNER</h1>
    <!DOCTYPE html>
    <html>
    <body>
        <div class="contenedor">
            <h1>Crear User Storie</h1>
            <form action="procesar_creacion" method="post">
                <label for="titulo">Titulo del 'US'</label>
                <input type="text" id="titulo" name="titulo" required>
                <label id="l1" for="titulo"> Texto libre</label>
                <label id="l2" for="titulo"> Sobre una plantilla</label>
                <button type="submit" class="btn">Crear</button>
                <button type="submit" id="b_crear">Iniciar </button>
                <button type="submit" id="b_cancel">Cancelar</button>
            </form>
        </div>
    </body>
    </html>