body {
	font-family: Arial, sans-serif;
	background-image: url(backround.png);
    background-size: cover;
    opacity: 0.7;
}

.container {
	background-color: #cff1ff;
	border-radius: 7px;
	box-shadow: 30 20 10px rgba(0,0,0,0.2);
	padding: 70px;
	margin: auto auto;
	max-width: 350px;
	text-align: center;
}

h1 {
	margin-top: 50;
}
#cabecera{
    color: #5E76C3;
    text-align: center;
    padding-top: 20px;
}

form {
	display: block;
    text-align: left;
}

label {
    display:block;
	margin-bottom: 50px;
}

input[type="email"], input[type="password"],input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.btn {
	
    background-color: #1693cd;
	color: #fff;
	border:0;
	border-radius: 4px;
	padding: 10px 50px;
	cursor: pointer;
  
}
#b_crear{
        
        text-align: center;
    background-color: #ff313fc9;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 40px;
        cursor: pointer;      
}

.btn:hover {
	background-color: #43bff8;
}
#b_crear:hover {
	background-color:#fc747dc9;
    
}
.pie{
    color:#fff;
    text-align: center; 
    margin-top: 200px;
    opacity: 0.7;
}